<html>
    <head>
    <title>Bravura</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    
    <script type="text/javascript" src="../static/js/isotope.js"></script>
    
    <script type="text/javascript" src="../static/js/prototype.js"></script>
		
	<!--[if IE]>
		<script type="text/javascript" src="../static/js/excanvas.js"></script>
		<script type="text/javascript" src="../static/js/lib/base64.js"></script>
	<![endif]-->
	<script type="text/javascript" src="../static/js/canvas2image.js"></script>
	<script type="text/javascript" src="../static/js/canvastext.js"></script>
	<script type="text/javascript" src="../static/js/flotr.js"></script>
    
    <script type="text/javascript" src="../static/js/temp.js"></script>
    <script type="text/javascript" src="../static/js/myscript.js"></script>    
    </head>
    <body>
        <div id="header">
            Bravura
        </div>
        <div id="container">
            
        </div>
    </body>
</html>
